<nav class="wrapper">
  <img src="../../assets/images/betclic-logo.svg" />

  <div class="nav-links-wrapper">
    <ul class="nav-links">
      <li class="nav-link active">
        <a>ZAKŁADY</a>
      </li>
      <li class="nav-link">
        <a>NA ŻYWO <span class="nav-link-badge">76</span></a>
      </li>
      <li class="nav-link">
        <a>GRY KARCIANE</a>
      </li>
      <li class="nav-link">
        <a>PROMOCJE</a>
      </li>
    </ul>
  </div>

  <!-- <bet-on-sport-org-bet-navbar-auth style="margin-left: auto">
    </bet-on-sport-org-bet-navbar-auth> -->

  <div></div>
</nav>
