.wrapper {
  --navbar-height: 55px;
  font-family: var(--theme-font-family-base);
  background-color: var(--red-primary);
  width: 100%;
  padding: 0 15px 0 8px;
  gap: 25px;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 106px;
  }

  .nav-links-wrapper {
    height: var(--navbar-height);
    .nav-links {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      padding: 0;

      .nav-link {
        padding: 0 1.3rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        text-align: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-transform: uppercase;
        font-size: var(--font-xl);
        font-weight: var(--font-800);
        color: var(--white-primary);
        opacity: 80%;
        cursor: pointer;
        width: auto;

        &.active,
        &:active {
          opacity: 100%;
          background: var(--red-secondary);
        }

        &:hover {
          background: var(--red-secondary);
          transition: 0.3s;
        }

        a {
          .nav-link-badge {
            position: absolute;
            background-color: var(--black-primary);
            color: var(--white-primary);
            font-size: var(--font-s);
            border-radius: 50%;
            padding: 4px;
            right: 0;
            top: 0;
            transform: translate(-5px, 50%);
          }
        }
      }
    }
  }
}
